.body1 {
  background-color: #bbbaf0;
}

#mySidenav {
  position: fixed;
  top: 0;
  right: -500px;
  height: 100%;
  width: 400px;
  display: block;
  -webkit-transition: 1s;
  transition: 1s;
  background-color: #bbbaf0;
  -webkit-box-shadow: -3px -4px 1px #979797;
          box-shadow: -3px -4px 1px #979797;
}

#mySidenav .sidenav {
  position: relative;
}

#mySidenav .sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.sideContainer {
  position: absolute;
  background: rgba(0, 0, 0, 0.3);
}

.side_hidden {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#header {
  width: 100%;
  padding: 9px 9px 1px 1px;
  background-color: #8887c5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.inputClass{

  margin:10px;
  width: 80%;
  align:center;
  box-sizing: border-box;
  border: 2px solid #ccc;
  background-color: white;
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 5px 40px;
}

right-side-button {
  float: right;
}

#main {
  -webkit-transition: margin-left 0.5s;
  transition: margin-left 0.5s;
  padding: 16px;
  position: relative;
  overflow-x: hidden;
}

body {
  background: #c7e6f0;
  font-family: 'Playfair Display', serif !important;
}

#home {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  background: #fdf9f9;
  margin: 20px;
  padding-top: 6px;
  border-radius: 10px;
  -webkit-box-shadow: 3px 3px 5px #64b6cf;
          box-shadow: 3px 3px 5px #64b6cf;
}

#head {
  background: #64b6cf;
  color: white;
  font-size: 20px;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  padding-left: 30px;
}

#cart {
  float: right;
  margin-right: 100px;
}

.prod {
  margin-top: 30px;
  margin-bottom: 50px;
}

.img {
  height: 225px;
  width: 230px;
}

.prodDiv {
  margin-top: 10px;
  height: 460px;
  width: 250px;
  padding: 10px;
  -webkit-box-shadow: 3px 3px 5px #6b6666;
          box-shadow: 3px 3px 5px #6b6666;
  background-color: #eaeaf1;
}

.prodDiv:hover {
  -webkit-transition: -webkit-transform 0.6s linear;
  transition: -webkit-transform 0.6s linear;
  transition: transform 0.6s linear;
  transition: transform 0.6s linear, -webkit-transform 0.6s linear;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

#cartPage {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(76, 76, 76, 0.5);
}

.cartSize {
  margin-block: 5px;
}

.cartDiv {
  position: absolute;
  height: 100%;
  width: 400px;
  top: 0;
  right: 0;
  background: #C7E6F0;
  -webkit-box-shadow: -3px -4px 1px #979797;
          box-shadow: -3px -4px 1px #979797;
  -webkit-animation: slide 0.6s linear;
          animation: slide 0.6s linear;
}

.close {
  position: absolute;
  height: 100%;
  width: 400px;
  top: 0;
  right: 0;
  background: white;
  -webkit-box-shadow: -3px -4px 1px #979797;
          box-shadow: -3px -4px 1px #979797;
  -webkit-animation: reverseSlide 0.6s linear;
          animation: reverseSlide 0.6s linear;
}

.cartHead {
  font-size: 20px;
  margin: 10px 10px;
  padding: 0 5px;
  margin-bottom: 30px;
  /* color : white; */
}

.cartItems {
  margin-top: 10px;
  margin-left: 10px;
  background: #eaeaf1;
  width: 95%;
  height: 80px;
  border: 0.2px solid rgba(0, 0, 0, 0.5);
}

.img-thumbnail {
  padding: 0px !important;
  height: 55px !important;
  width: 80px;
}

#close {
  float: right;
}

.item {
  margin-top: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.remove {
  padding-right: 0;
  padding-left: 15px;
}

.sym {
  font-size: 30px;
  margin-top: 6px;
}

hr {
  border: none;
  height: 5px;
  border-radius: 10px;
  color: #292525;
  /* old IE */
  background-color: #353434;
  /* Modern Browsers */
}

@-webkit-keyframes slide {
  0% {
    right: -400px;
  }
  25% {
    right: -300px;
  }
  50% {
    right: -200px;
  }
  75% {
    right: -100px;
  }
  100% {
    right: 0;
  }
}

@keyframes slide {
  0% {
    right: -400px;
  }
  25% {
    right: -300px;
  }
  50% {
    right: -200px;
  }
  75% {
    right: -100px;
  }
  100% {
    right: 0;
  }
}

@-webkit-keyframes reverseSlide {
  0% {
    right: 0;
    opacity: 1;
  }
  25% {
    right: -100px;
    opacity: 1;
  }
  50% {
    right: -200px;
    opacity: 1;
  }
  75% {
    right: -300px;
    opacity: 1;
  }
  100% {
    right: -400px;
    opacity: 1;
  }
}

@keyframes reverseSlide {
  0% {
    right: 0;
    opacity: 1;
  }
  25% {
    right: -100px;
    opacity: 1;
  }
  50% {
    right: -200px;
    opacity: 1;
  }
  75% {
    right: -300px;
    opacity: 1;
  }
  100% {
    right: -400px;
    opacity: 1;
  }
}

/* #cnfrm{
  height: 200px;
  width: 400px;
  position: absolute;
  top : 35%;
  left : 35%;
  border-radius: 10px;
  box-shadow: 3px 3px 5px rgb(100, 182, 207);
  background: white;
} */
/*# sourceMappingURL=style.css.map */